body {
  margin: 0;
  background: #55aaaa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon-container {
  display: flex;
  flex-direction: column; /* Align icons in a column */

  p-long{
    font-size: 14px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  p-short{
    font-size: 14px;
    padding-left: 28px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

.icon {
  height: auto;
  width: 55px;
  padding-left: 15px;
  padding-top: 15px;
}

.taskbar {
  background: #c0c0c0;
  height: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  box-shadow: 0 -2px #fffdfc, 0 -4px #cce9eb;

}

.email{
  position: absolute;
  display: none;
  height: 300px;
  width: auto;
  top: 125px;
  left: 1000px;
  
}

.gif{
  position: absolute;
  display: none;
  height: 100px;
  width: auto;
  top: 100px;
  left: 100px;
}

.win98popup {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Microsoft Sans Serif", sans-serif;
  background: #c2c6ca;
  font-size: 12px;
  -webkit-font-smoothing: none;
  width: 400px;
  height: 200px;
  position: fixed;
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;

  p{
    padding-left: 15px;
    padding-right: 5px;
  }
  button {
    background: #c2c6ca;
    border: none;
    padding: 0;
    border-radius: 0;
    outline: none;

    p{
      padding-left: 0;
      padding-right: 0;
    }
  }

  .shadow {
    box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px white,
      inset -1px -1px #85898d;
  }

  .bar {
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
    justify-content: space-between;
    width: calc(100% - 11px);
    height: 13px;
    color: white;
    background: #00a;
    padding: 2px 3px 3px;
    margin: 3px 2px 1px 3px;
    position: relative;
    p {
      margin: 0;
      padding-left: 0;
    }
    button {
      width: 15px;
      height: 13px;
      &:active {
        box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black,
          inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
        svg {
          transform: translateX(1px) translateY(1px);
        }
      }
      svg {
        margin: 3px 3px 3px 4px;
      }
    }
  }
  .buttons {
    display: flex;
    flex-flow: row nowrap;
    margin: 1px 15px 14px 14px;
    button {
      width: 74px;
      height: 22px;
      display: grid;
      &:not(:last-child){
        margin-right: 7px;
      }
      p {
        font-size: 12px;
        margin: auto;
      }
      img {
        margin: 4px 3px 3px 4px;
        display: none;
      }
      p, img {
        grid-column: 1;
        grid-row: 1;
      }
      &:focus {
        outline: none;
        box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px black,  inset -1px -1px black, inset 2px 2px white, inset -2px -2px #85898d;
        img {
          display: block;
        }
      }
      &:active {
        box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px black,
          inset -1px -1px #85898d, inset 2px 2px #85898d;
        outline: none;
        p, img {
          transform: translateX(1px) translateY(1px);
        }
      }
    }
  }
}

html, body{
  height: 100%;
}
